<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./style.css">
  <script src="./js/common.js"></script>
</head>
<script>
    const postDel = {
      _id: "<%= post._id %>",
      title: "<%= post.title %>",
      categories: "<%= post.categories %>",
      desc: "<%= post.desc %>",
      photo: "<%= post.photo %>",
      userID: "<%= post.userID %>",
      createdAt: "<%= post.createdAt %>",
      updatedAt: "<%= post.updatedAt %>"
    }

  console.log('postDel',postDel);

  async function editPost(){
    console.log("edit clicked");
    document.getElementById("title").style.border = "solid"
    document.getElementById("desc").style.border = "solid"
    document.getElementById("category").style.border = "solid"
    document.getElementById("title").removeAttribute("disabled") 
    document.getElementById("desc").removeAttribute("disabled") 
    document.getElementById("category").removeAttribute("disabled") 
    document.getElementById("editBtn").innerText = "Save"

    const setTitle = (event) => {
      postDel.title = event.target.value;
      console.log(setTitle);
    };

    const setDesc = (event) => {
        postDel.desc = event.target.value;
        console.log(setDesc);
    };

    const setCat = (event) => {
        postDel.desc = event.target.value;
        console.log(setCat);
    };

    function savePost(){
      console.log("saved post");
      postDel.titile = document.getElementById("title").value;
      postDel.desc = document.getElementById("desc").value;
      postDel.categories = document.getElementById("category").value;

      savePost();
    }
    

    try{
      const response = await fetch(`/api/v1/posts/${postDel._id}`,{
        method: "put",
        body: JSON.stringify(postDel),
        headers: {
            "Content-type": "application/json",
            Authorization: `Bearer ${JSON.parse(
              localStorage.getItem("access-token")
          )}`,
          },
      });
      if (response) {
        console.log('post updated');
        //window.location.href = "/dashboard.html";
      }
    } catch (error) {
      console.log(error);
  }
      }
    

  


  async function deletePost() {
    try {
      const response = await fetch(`/api/v1/posts/delete/${postDel._id}`, {
        method: "delete",
        body: JSON.stringify(postDel),
        headers: {
            "Content-type": "application/json",
            Authorization: `Bearer ${JSON.parse(
              localStorage.getItem("access-token")
          )}`,
          },
      });
      if (response) {
        console.log('post deleted');
        window.location.href = "/dashboard.html";
      }
    } catch (error) {
      console.log(error);
  }
  }

</script>


<body>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img class="logo" src="./image/logo.png" alt="logo">
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li class="blogs"><a href="./index.html" class="nav-link px-5 link-secondary">Blogs</a></li>
      <li class="create"><a href="./createblog.html" class="nav-link px-5 link-dark">Create</a></li>
      <li class="profile"><a href="./editprofile.html" class="nav-link px-5 link-dark">Profile</a></li>
    </ul>
    <div class="col-md-3 text-end">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><img src="./image/user-photo.jpg" alt="user-photo" class="user-photo"></li>
        <li class="nav-item dropdown">
          <span class="nav-link dropdown-toggle" id="logout" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Hi, <input class="username" type="text" id="userName" readonly="true"></span>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" onclick="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
  
  <div>
    <img src="<%= post.photo %>" alt="">
  </div>
  <div>
    <input id="title" type="text" size="50" value="<%=post.title %>" style=border:none onchange="setTitle(event)" disabled >
    <br>
    <input id="desc" type="text" size="1000" value="<%=post.desc %>" style=border:none onchange="setDesc(event)" disabled>
    <br>
    <input id="category" type="text" size="20" value="<%=post.categories %>" style=border:none onchange="setCat(event)" disabled>
  </div>
    <button id="editBtn" onclick="editPost()">Edit</button>
    <button id="delBtn" hidden onclick="deletePost()">Delete</button>
  <footer>
    <div class="footer-bottom">
      <span> Copyright @2022 All rights reserved</span><br>
      <span>made with <img src="./image/footer-icon.png" /> by girley3</span>
    </div>
  </footer>
   
</body>
</html>