<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Edit</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./layout.css">
  <link rel="stylesheet" href="./create.css">
 
  <script src="./js/common.js"></script>
</head>
<script>
    const postDel = {
      _id: "<%= post._id %>",
      title: "<%= post.title %>",
      categories: "<%= post.categories %>",
      desc: "<%= post.desc %>",
      photo: "<%= post.photo %>",
      userID: "<%= post.userID %>",
      createdAt: "<%= post.createdAt %>",
      updatedAt: "<%= post.updatedAt %>"
    }

    let isEditing = false;

  console.log('postDel',postDel);


  /**
   * set inputs style base on isEditing
   */
  function setInputStyle() {
    if (isEditing) {
      // boder 1px
      document.getElementById("title").style.border = "solid 1px #6F1D1B"
      document.getElementById("desc").style.border = "solid 1px #6F1D1B"
      document.getElementById("title").removeAttribute("disabled") 
      document.getElementById("desc").removeAttribute("disabled") 
      document.getElementById("editBtn").innerText = "Save"
    } else {
      document.getElementById("title").style.border = "none"
      document.getElementById("desc").style.border = "none"
      document.getElementById("title").setAttribute("disabled", "disabled") 
      document.getElementById("desc").setAttribute("disabled", "disabled") 
      document.getElementById("editBtn").innerText = "Edit"

    }
  }

  async function editPost() {
    if (!isEditing) {
      isEditing = true;
      setInputStyle();
    } else {
      try {
        //set postDel values
        setPost();

        //update the database
        await updatePost();

        //reset isEditing and input style
        isEditing = false;
        setInputStyle();
      } catch (error) {
        console.log(error);
      }
    }
  }

  function setPost(){
    console.log("saved post");
    postDel.title = document.getElementById("title").value;
    postDel.desc = document.getElementById("desc").value;
    postDel.categories = document.getElementById("category").value;
    postDel.updatedAt = new Date();
  }

  //edit function
  async function updatePost() {
    const response = await fetch(`/api/v1/posts/${postDel._id}`,{
      method: "put",
      body: JSON.stringify(postDel),
      headers: {
          "Content-type": "application/json",
          Authorization: `Bearer ${JSON.parse(
            localStorage.getItem("access-token")
        )}`,
      },
    });
    if (response) {
        console.log('post saved');
        // window.location.href = "/dashboard.html";
      }
    else {
      const { message} = await response.json();
      throw new Error(message);
    }

    return response.json();
  }

  
//delete button
  
    async function deletePost() {
      var result = confirm("Confirm to delete this Blog?");
      if(result)
      {
        try {
          const response = await fetch(`/api/v1/posts/delete/${postDel._id}`, {
            method: "delete",
            body: JSON.stringify(postDel),
            headers: {
                "Content-type": "application/json",
                Authorization: `Bearer ${JSON.parse(
                  localStorage.getItem("access-token")
              )}`,
              },
          });
          if (response) {
            console.log('post deleted');
            window.location.href = "/dashboard.html";
          }
        } catch (error) {
          console.log(error);
      }

    }
  }

</script>


<body>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img class="logo" src="./image/logo.png" alt="logo">
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li class="blogs"><a href="./index.html" class="nav-link px-5 link-secondary">Blogs</a></li>
      <li class="create"><a href="./createblog.html" class="nav-link px-5 link-dark">Create</a></li>
      <li class="profile"><a href="./editprofile.html" class="nav-link px-5 link-dark">Profile</a></li>
    </ul>
    <div class="col-md-3 text-end">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><img src="./image/user-photo.jpg" alt="user-photo" class="user-photo" id="profile-image"></li>
        <li class="nav-item dropdown">
          <span class="nav-link dropdown-toggle" id="logout" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Hi, <input class="username" type="text" id="userName" readonly="true"></span>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" onclick="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
  <div class="container create-area">
    <div class="row">
      <div class="col upload">
        <img src="<%= post.photo %>" alt="" height="330" 
        width="330">
      </div>
      <div class="col">
        <div class="row">
          <div class="col title">
            <span>Title: </span>
            <input id="title" type="text" size="50" value="<%=post.title %>" style=border:none  disabled >
          </div>
          <div class="w-100"></div>
          <div class="col category">
            <span>Category: </span>
            <input id="category" type="text" size="20" value="<%= post.categories %>" style=border:none disabled >
          </div>
          <div class="w-100"></div>
          <div class="col description">
            <span>Description: </span><br>
            <input id="desc" type="text" size="60"  value="<%=post.desc %>" style=border:none  disabled>
          </div>
          <div class="w-100"></div>
          <div class="col submit-btn">

            <button id="editBtn" class="btn" onclick="editPost()">Edit</button>
            <button id="delBtn" class="btn" onclick="deletePost(event)">Delete</button>

          </div>   
        </div> 
      </div>  
    </div> 
  </div>
  
  
  <footer>
    <div class="footer-bottom">
      <span> Copyright @2022 All rights reserved</span><br>
      <span>made with <img src="./image/footer-icon.png" /> by girley3</span>
    </div>
  </footer>
  <script type="text/javascript">
    
    loadProfileAvatar();
  </script>
   
</body>
</html>